<h1>Global Internet Usage Analytics</h1>
<p><b>Task: </b> To Analyze the Global Internet Usage by Country</p>

In [1]:
import pandas as pd
import numpy as np

<h1>Data Preprocessing</h1>
<ul>
    <li>Broadband Penetration by Country - Broadband Subscription per 100 People for countries during the years 2004 - 2019</li>
    <li>Mobile Cellular Subscriptions - Broadband Subscription per 100 People for countries during the years 1960 - 2019</li>
    <li>Number of Internet Users - Number of Internet users for countries during the years 1990 - 2016</li>
    <li>Share of Individuals using the Internet - Percentage of population using the internet for countries during the years 1990-2017</li>
</ul>

<h2>Broadband Penetration by Country</h2>

In [2]:
data = pd.read_csv("broadband-penetration-by-country.csv")

In [3]:
data

           Entity Code  Year  Fixed broadband subscriptions (per 100 people)
0     Afghanistan  AFG  2004                                        0.000809
1     Afghanistan  AFG  2005                                        0.000858
2     Afghanistan  AFG  2006                                        0.001892
3     Afghanistan  AFG  2007                                        0.001845
4     Afghanistan  AFG  2008                                        0.001804
...           ...  ...   ...                                             ...
4170     Zimbabwe  ZWE  2015                                        1.187053
4171     Zimbabwe  ZWE  2016                                        1.217633
4172     Zimbabwe  ZWE  2017                                        1.315694
4173     Zimbabwe  ZWE  2018                                        1.406322
4174     Zimbabwe  ZWE  2019                                        1.395817

[4175 rows x 4 columns]

In [4]:
data.isna().sum()

Entity                                              0
Code                                              800
Year                                                0
Fixed broadband subscriptions (per 100 people)      0
dtype: int64

<p>Remove the <b>Code</b> column, since it is not relevant</p>

In [5]:
data.drop(["Code"],inplace=True,axis=1)

In [6]:
data.to_csv("Broadband.csv",index=False)

<h2>Mobile Cellular Subscriptions</h2>

In [7]:
data = pd.read_csv("mobile-cellular-subscriptions-per-100-people.csv")

In [8]:
data

            Entity Code  Year  Mobile cellular subscriptions (per 100 people)
0      Afghanistan  AFG  1960                                        0.000000
1      Afghanistan  AFG  1965                                        0.000000
2      Afghanistan  AFG  1970                                        0.000000
3      Afghanistan  AFG  1975                                        0.000000
4      Afghanistan  AFG  1976                                        0.000000
...            ...  ...   ...                                             ...
11890     Zimbabwe  ZWE  2015                                       92.347105
11891     Zimbabwe  ZWE  2016                                       91.793458
11892     Zimbabwe  ZWE  2017                                       98.985073
11893     Zimbabwe  ZWE  2018                                       89.404869
11894     Zimbabwe  ZWE  2019                                       90.102290

[11895 rows x 4 columns]

In [9]:
data.isna().sum()

Entity                                               0
Code                                              2250
Year                                                 0
Mobile cellular subscriptions (per 100 people)       0
dtype: int64

<p>Remove the <b>Code</b> column, since it is not relevant</p>

In [10]:
data.drop(["Code"],inplace=True,axis=1)

In [11]:
data.to_csv("Mobile.csv",index=False)

<h2>Number of Internet Users</h2>

In [12]:
data = pd.read_csv("number-of-internet-users-by-country.csv")

In [13]:
data

           Entity Code  Year  Number of internet users (OWID based on WB & UN)
0     Afghanistan  AFG  1990                                                 0
1     Afghanistan  AFG  2001                                               990
2     Afghanistan  AFG  2002                                              1003
3     Afghanistan  AFG  2003                                             20272
4     Afghanistan  AFG  2004                                             25520
...           ...  ...   ...                                               ...
4531     Zimbabwe  ZWE  2012                                           1765299
4532     Zimbabwe  ZWE  2013                                           2333448
4533     Zimbabwe  ZWE  2014                                           2522081
4534     Zimbabwe  ZWE  2015                                           3588237
4535     Zimbabwe  ZWE  2016                                           3733962

[4536 rows x 4 columns]

In [14]:
data.isna().sum()

Entity                                               0
Code                                                22
Year                                                 0
Number of internet users (OWID based on WB & UN)     0
dtype: int64

<p>Remove the <b>Code</b> column, since it is not relevant</p>

In [15]:
data.drop(["Code"],inplace=True,axis=1)

In [16]:
data.to_csv("Internet_Users.csv",index=False)

<h2>Share of Individuals using the Internet</h2>

In [17]:
data = pd.read_csv("share-of-individuals-using-the-internet.csv")

In [18]:
data

           Entity Code  Year  Individuals using the Internet (% of population)
0     Afghanistan  AFG  1990                                          0.000000
1     Afghanistan  AFG  1991                                          0.000000
2     Afghanistan  AFG  1992                                          0.000000
3     Afghanistan  AFG  1993                                          0.000000
4     Afghanistan  AFG  1994                                          0.000000
...           ...  ...   ...                                               ...
7114     Zimbabwe  ZWE  2013                                         15.500000
7115     Zimbabwe  ZWE  2014                                         16.364740
7116     Zimbabwe  ZWE  2015                                         22.742818
7117     Zimbabwe  ZWE  2016                                         23.119989
7118     Zimbabwe  ZWE  2017                                         27.055488

[7119 rows x 4 columns]

In [19]:
data.isna().sum()

Entity                                                 0
Code                                                1339
Year                                                   0
Individuals using the Internet (% of population)       0
dtype: int64

<p>Remove the <b>Code</b> column, since it is not relevant</p>

In [20]:
data.drop(["Code"],inplace=True,axis=1)

In [21]:
data.to_csv("Share_Of_Internet_Users.csv",index=False)